<nav>
  <a href="{{ site.baseurl }}/">
    <h1>
      {{ site.title }}
    </h1>
  </a>
  <div>
    <p class="mono">
      {{ site.subtitle }}
    </p>
    <p class="mono smaller"><i>
      Logo courtesy of
       <b>Fedora Beelke</b>,
      &copy; 2020
      [<a href="https://creativecommons.org/licenses/by-nd/4.0" style="text-decoration: underline">
        CC BY-ND 4.0</a>].
      </i>
      TYSM!
    </p>
  </div>
  <p class="smaller">
    <a href="/about">About</a>
    &bull;
    <a href="/now">Now</a>
    &bull;
    <a href="/feed.xml" download="gggeo.tech-feed.xml">RSS</a>
  </p>
</nav>